<ion-app>
  <!-- Container principal com flex column -->
  <div class="main-container">
    <!-- ion-content deve crescer e ocupar o espaço restante -->
    <ion-content class="custom-content">
      <div class="header-container">
        @if (isLoadingLocation) {
          <div class="location-loading">
            <ion-skeleton-text animated style="width: 100px"></ion-skeleton-text>
          </div>
        } @else {
          <div class="location-info">
            <ion-icon name="location" class="location-icon"></ion-icon>
            <span class="location-text">{{ userLocation }}</span>
          </div>
          <!--<ion-button fill="clear" size="small" (click)="refreshLocation()" class="refresh-button">
            <ion-icon name="refresh" slot="icon-only"></ion-icon>
          </ion-button>-->
        }
      </div>

      <div id="page">
        <ion-card>
          <ion-card-header>
            <ion-card-title>Vamos encontrar um veterinário especialista para seu bichinho!</ion-card-title>
          </ion-card-header>
        
          <ion-card-content>
            <img alt="Exemplo de Evento" src="../assets/icon/favicon.png"/>
          </ion-card-content>
        </ion-card>

        <ion-searchbar placeholder="Pesquisar"></ion-searchbar>

        <div id="catalog">
          <div class="category-header">
            <h3>Serviços</h3>
            <a href="#" class="see-all">Ver tudo</a>
          </div>
          <div class="category-grid">
            <!-- Item 1 -->
            <div class="category-item">
              <a href="#">
                <img src="../assets/dog_veterinary.jpg" alt="Categoria 1" class="category-img">
                <p class="category-caption">Vacinação</p>
              </a>
            </div>
        
            <!-- Item 2 -->
            <div class="category-item">
              <a href="#">
                <img src="../assets/cat_leash.jpg" alt="Categoria 2" class="category-img">
                <p class="category-caption">Cirurgia</p>
              </a>
            </div>
        
            <!-- Item 3 -->
            <div class="category-item">
              <a href="#">
                <img src="../assets/dog_shopping.jpg" alt="Categoria 3" class="category-img">
                <p class="category-caption">Mental</p>
              </a>
            </div>
        
            <!-- Item 4 -->
            <div class="category-item">
              <a href="#">
                <img src="../assets/cat_lizard.jpg" alt="Categoria 4" class="category-img">
                <p class="category-caption">Dentista</p>
              </a>
            </div>
          </div>        
        </div>

        <div id="profissional">
          <h3>Melhores especialistas</h3>
          <ion-card>
            <img alt="Exemplo de Evento" src="../assets/cat_event.jpg" />
            <ion-card-header>
              <ion-card-title>Encontre eventos para seus bichinhos!</ion-card-title>
            </ion-card-header>
          
            <ion-card-content>
              <ion-button>Ver mais</ion-button>
            </ion-card-content>
          </ion-card>
          <ion-card>
            <img alt="Exemplo de Evento" src="../assets/cat_event.jpg" />
            <ion-card-header>
              <ion-card-title>Encontre eventos para seus bichinhos!</ion-card-title>
            </ion-card-header>
          
            <ion-card-content>
              <ion-button>Ver mais</ion-button>
            </ion-card-content>
          </ion-card>
        </div>
      </div>
    </ion-content>

    <ion-footer class="fixed-footer">
      <ion-toolbar class="custom-footer">
        <div class="footer-buttons">

          <ion-button fill="clear" [class.active]="currentTab === 'main'" 
          (click)="setActiveTab('main', '/main')">
            <ion-icon slot="icon-only" name="home" aria-hidden="true"></ion-icon>
            <ion-label>Principal</ion-label>
          </ion-button>
    
          <ion-button fill="clear" [class.active]="currentTab === 'services-page'" 
          (click)="setActiveTab('services-page', '/services-page')">
            <ion-icon slot="icon-only" name="heart" aria-hidden="true"></ion-icon>
            <ion-label>Serviços</ion-label>
          </ion-button>
    
          <ion-button fill="clear" [class.active]="currentTab === 'historico'" (click)="setActiveTab('historico', '/historico')">
            <ion-icon slot="icon-only" name="time" ></ion-icon>
            <ion-label>Histórico</ion-label>
          </ion-button>
    
          <ion-button fill="clear" [class.active]="currentTab === 'perfil'" (click)="setActiveTab('perfil', '/perfil')">
            <ion-icon slot="icon-only" name="person" aria-hidden="true"></ion-icon>
            <ion-label>Perfil</ion-label>
          </ion-button>

        </div>
      </ion-toolbar>
    </ion-footer>
  </div>
</ion-app>
