#container {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  padding: 20px;
}

#container h1 {
  font-size: 2.1rem;
  font-weight: bold;
  margin: 20px 0 10px 0;

  color: inherit;
  font-family: sans-serif;
}

#container p {
  font-size: 1.1rem;
  margin: 0;

  color: inherit;
  font-family: sans-serif;
}

#container img {
  width: 100%;
  height: auto;
  margin-bottom: -6rem;
}

#page ion-content{
  --background: #FF8C00;
  --color: #fff;
}